pyproj==3.3.1
pandas==1.4.2
openpyxl==3.0.9
nbconvert==6.5.0
jupyterlab==3.4.0
ipyleaflet==0.16.0
matplotlib==3.5.2
ipywidgets==7.7.0
OSMPythonTools==0.3.4
osm-opening-hours-humanized==1.0.0b6
haversine==2.5.1
orjson==3.6.8