pyproj==3.3.0
pandas==1.4.1
openpyxl==3.0.9
nbconvert==6.4.4
jupyterlab==3.3.2
ipyleaflet==0.15.0
matplotlib==3.5.1
ipywidgets==7.7.0
OSMPythonTools==0.3.4
osm-opening-hours-humanized==1.0.0b6
haversine==2.5.1