pyproj==3.7.1
pandas==2.2.3
openpyxl==3.1.5
nbconvert==7.16.6
jupyterlab==4.4.1
ipyleaflet==0.19.2
matplotlib==3.10.1
ipywidgets==8.1.6
osm-opening-hours-humanized==1.0.0b7
haversine==2.9.0
orjson==3.10.16
osmnx==2.0.2
